{% extends 'base.html' %}
{% load static %}

{% block title %}Services{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/items.css' %}">
<link rel="stylesheet" href="{% static 'css/lightbox.css' %}" />
{% endblock %}

{% block content %}
<div class="gallery-dad">
    {% for item in items %}
    <div class="gallery">
        <a href="{{ item.image.url }}" data-lightbox="roadtrip" title="{{item.name}}">
            <img src="{{ item.image.url }}" alt="{{item.name}}">
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block footer %}
<script src="{% static 'js/lightbox.js' %}"></script>
{% endblock %}
